
.center{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
h1{
    color: #47517B;
}
ion-item{
    --border-color: #47517B;
    --border-radius: 15px;
    --border-width: 80%;
    --padding-start: 10%;
    --padding-end: 10%;
    height: 55px;
    margin-left: 20px;
  margin-right: 20px;
    margin-bottom: 1em;
}
ion-input{
    --placeholder-color: #47517B;

}
ion-button{
    color: white;
    --background: #47517B;
    --border-radius: 25px;
    height: 55px;
  display: flex;
}
.back{
  width: 50px;
  --background: transparentize(100);
  display: flex;
  float: left;
  margin-left: 0;
  margin-right: auto;
}
.c{
  display: flex;
  justify-content: center;
}

ion-col{
  margin-left: 20px;
  margin-right: 20px;
}
