div {
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
}
.image {
  margin-top: 10%;
}
.link1{
  margin-right:95%;
  font-family: Roboto, sans-serif;
}
.link2{
  margin-left: 95%;
  font-family: Roboto, sans-serif;
}
.text{
  text-align: center;
  font-family: Roboto, sans-serif;
}
