<ion-content>
  <ion-list class="imgCentered" lines="none">
    <img class="imageGroup" alt="threePeople" src="assets/illustrations/grouplist_threePeople.png" class="image">
  </ion-list>
  <ion-label class="ion-text-center">
    <h1>Deine Gruppen</h1>
  </ion-label>
  <ion-list>
    <ion-card button *ngFor="let group of grouplist" (click)="navToGroupoverview(group.id)">
      <ion-card-header>
        <ion-card-title>{{group.name}}</ion-card-title>
        <p *ngIf="debtInGroup.get(group.id) > 0" style="color: #A62020; font-size: 16px">schulde ich: {{debtInGroup.get(group.id)}} €</p>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="grouplist.length === 0">
    <ion-card>
      <ion-card-header>
        Du nimmst noch an keiner Gruppe teil!
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
<footer>
  <ion-button color="button" (click)="navToCreateGroup()" expand="block" shape="round">Neue Gruppe</ion-button>
</footer>
