<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="backButton" defaultHref="create-group"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <img alt="threePeople" src="/assets/illustrations/grouplist_threePeople.png" class="image">
  </ion-list>
    <ion-label class="ion-text-center">
      <h1>Nehme an einer Gruppe teil</h1>
    </ion-label>
  <br>
    <ion-list lines="none">
      <ion-input type="text"
                 placeholder="Gruppen-ID"
                 [(ngModel)]="id">
      </ion-input>
    </ion-list>
    <div>
      <p class="center"
         style="color:var(--ion-color-danger)"
         *ngIf="alertsService.errors.get('groupId')">
        {{alertsService.errors.get('groupId')}}
      </p>
    </div>
    <ion-list lines="none">
      <ion-input type="text" class="key"
                 placeholder="Key"
                 [(ngModel)]="key">
      </ion-input>
    </ion-list>
      <div>
        <p class="center"
           style="color:var(--ion-color-danger)"
           *ngIf="alertsService.errors.get('key')">
          {{alertsService.errors.get('key')}}
        </p>
      </div>
    <ion-list>
      <ion-button color="button" expand="block" shape="round" (click)="join(this.id, this.key)">los geht's</ion-button>
    </ion-list>
</ion-content>
