p {
  font-size: 10px;
}
ion-row {
  margin: 5px;
}
ion-item {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px auto;
  border: 1px solid #8CB8ED;
  border-radius: 15px;
}
.formBtn {
  width: 200px;
  background-color: #8CB8ED;
  border-radius: 15px;
  color: white;
}
