div{
  display: flex;
  justify-content: center;
}
.image{
  margin-top: 5%;
}
input {
  font-size: inherit; padding: 5px 12px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  border: 1px #47517B;
  background-color: #ffffff ;
  border-radius: 5px;
  width: 18%;
  color: #0d0d0d;
}
.key{
  margin-top: 10px;
}
.beitreten{
  width: 18%;
  margin-top: 10px;
}
