<ion-header>

</ion-header>

<ion-content>
  <ion-button>
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
    <div class="image">
      <img src="assets/people.svg" alt="joinGroupImg" width="200" height="150">
    </div>
  <div>
    <h1>Nehme an einer Gruppe teil</h1>
  </div>
  <div>
      <input type="text" placeholder="Gruppen-ID" [(ngModel)]="id">
  </div>
  <div>
      <input type="text" class="key" placeholder="Key" [(ngModel)]="key">
  </div>
  <div>
    <ion-button class="beitreten" (click)="join(this.id, this.key)">
      los geht's
    </ion-button>
  </div>
</ion-content>
