<ion-header>
  <ion-toolbar>
    <ion-icon button (click)="back()" name="chevron-back-outline" size="large"></ion-icon>
    <ion-icon *ngIf="!editMode" button (click)="showActions()" name="ellipsis-horizontal-outline" slot="end" size="large"></ion-icon>
    <ion-icon *ngIf="editMode" button (click)="leaveEditMode()" name="save-outline" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <img alt="threePeople" src="/assets/illustrations/groupOverview_fourPeople.png" class="image">
  </ion-list>
  <ion-list class="ion-text-center" lines="none" >
    <ion-label class="ion-text-center">
      <h1>{{group.name}}</h1>
      <br>
      <h4>meine Bilanz</h4>
      <br>
      <p>0 €</p>
      <br>
      <h4 class="showDetails">Details anzeigen > </h4>
    </ion-label>
    <ion-card *ngFor="let member of members">
      <ion-card-header>
        <ion-card-title>
          <h6>{{member.firstName}}</h6>
          <ion-icon *ngIf="editMode"
                    style="background-color: rgba(140, 184, 230, 0); position: absolute; top: 50%; right: 0px; transform: translateY(-50%); padding-bottom: 8px; padding-top: 8px"
                    (click)="confirmDeleteAction(member.id)"
                    name="close-outline"
                    size="large"
                    button>
          </ion-icon>
          <ion-icon *ngIf="!editMode"
                    (click)="sendReminder(member.id, member.firstName, 'YhyD5Niv6gaDcgp18PB3')"
                    name="alarm-outline"
                    style="background-color: rgba(140, 184, 230, 0); position: absolute; top: 50%; right: 0px; transform: translateY(-50%); padding-bottom: 8px; padding-top: 8px"
                    button>
          </ion-icon>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
