h1 {
  font-weight: bold;
  color: #47517B;
  text-align: center;
}

h4 {
  color: #47517B;
}

p {
  font-size: 70px;
  color: #47517B;
  padding-bottom: 20px;
  padding-top: 20px;
}

.showDetails {
  text-decoration: underline;
  padding-bottom: 20px;
}

ion-card {
  background-color: rgba(140, 184, 237, .3);
  color: #47517B;
  border-radius: 15px;
}

ion-card-title {
  text-align: left;
  font-size: 16px;
  color: #47517B;
}

ion-icon {
  color: #47517B;
  background-color: #ffffff;
  padding-right: 30px;
}

.alertText .alert-message {
  text-align: center;
}

ion-col.cols {
  flex: 0 0 0px;
  padding-top: 30px;
}
