h1 {
  font-weight: bold;
  color: #47517B;
  text-align: center;
}

h4 {
  color: #47517B;
}

h6{
  padding-top: 10px;
}

p {
  font-size: 60px;
  color: #47517B;
  padding-bottom: 20px;
  padding-top: 20px;
}

.showDetails {
  text-decoration: underline;
  padding-bottom: 20px;
}

ion-card {
  background-color: rgba(140, 184, 237, .3);
  color: #47517B;
  border-radius: 15px;
  margin-right: 30px;
  margin-left: 30px;
  width: 100%;
}

ion-card-header {
  padding: 5px;
}

ion-card-title {
  text-align: left;
  font-size: 16px;
  color: #47517B;
}

ion-icon {
  color: #47517B;
  background-color: #ffffff;
  padding-right: 30px;
}

ion-col.cols {
  flex: 0 0 0;
  padding-top: 41px;
}

.listCreateGroup {
  margin-right: 30px;
  margin-left: 30px;
}
