<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-icon (click)="navToGrouplist()" class="icon" name="home-outline" size="large"></ion-icon>
      </ion-tab-button>

      <ion-tab-button *ngIf="!inGroupView">
        <ion-icon (click)="this.navToAddGroup()" class="icon" name="add-circle" size="large"></ion-icon>
      </ion-tab-button>
      <ion-tab-button *ngIf="inGroupView">
        <ion-icon (click)="getGroup(); showAddActions()" class="icon" name="add-circle" size="large"></ion-icon>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon (click)="navToProfile()" class="icon" name="person-outline" size="large"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>


