<ion-header>
  <ion-toolbar>
    <ion-title>{{pageTitle}} "{{entry.name}}"</ion-title>
    <ion-buttons slot="start">
      <ion-button style="background-color: #ffff" (click)="dismissModal(entry.type)">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="margin: 20px; padding: 20px">
  <ion-col class="ion-justify-content-center">
    <!-- name of entry -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-start" size="6" style="padding: 10px">
        <p>Name</p>
      </ion-col>
      <ion-col size="6" style="padding: 10px">
        <p>{{entry.name}}</p>
      </ion-col>
    </ion-row>
    <!-- amount of entry -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-start" size="6" style="padding: 10px">
        <p>Betrag</p>
      </ion-col>
      <ion-col size="6" style="padding: 10px">
        <p>{{entry.amount}}€</p>
      </ion-col>
    </ion-row>
    <!-- date of entry -->
    <ion-row class="ion-justify-content-center">
      <ion-col  class="ion-text-start" size="6" style="padding: 10px">
        <p>Datum</p>
      </ion-col>
      <ion-col size="6" style="padding: 10px">
        <p>{{entry.date | date: 'dd.MM.yyyy'}}</p>
      </ion-col>
    </ion-row>
    <!-- interval of entry -->
    <ion-row class="ion-justify-content-center" *ngIf="entry.type === 'expense'">
      <ion-col class="ion-text-start" size="6" style="padding: 10px">
        <p>
          Monatlich wiederkehrend?
        </p>
      </ion-col>
      <ion-col size="6" style="padding: 10px">
        <p>{{interval}}</p>
      </ion-col>
    </ion-row>
    <!-- split of entry -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-start" size="6">
        <p>Aufgeteilt</p>
      </ion-col>
      <ion-col size="6">
        <p>{{split}}</p>
      </ion-col>
    </ion-row>
    <!-- username of entry -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-start" size="6">
        <p>Betrag von</p>
      </ion-col>
      <ion-col size="6">
        <p>{{entry.userName}}</p>
      </ion-col>
    </ion-row>
    <!-- receipt of entry -->
    <ion-row class="ion-justify-content-center">
      <ion-img *ngIf="entry.receipt !== ''"
               src="{{entry.receipt}}"
               alt="receipt-image"
               (click)="openPhoto(entry.receipt)">
      </ion-img>
    </ion-row>
  </ion-col>
</ion-content>
