<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-button (click)="dismissModal()">x</ion-button>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-grid>
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="text" class="ion-text-start" [(ngModel)]="name" placeholder="Name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input type="number" class="ion-text-start" [(ngModel)]="amount" placeholder="Betrag"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item button="true" id="open-date-input">
          <ion-input placeholder="Datum" [(ngModel)]="date"></ion-input>
<!--        <ion-item button="true" id="open-date-input" (click)="openDatePopover($event)">-->
<!--          <ion-input placeholder="Datum">{{date | date: 'dd.MM.yyyy'}}</ion-input>-->
<!--          <ion-popover #popover [isOpen]="isDatePopOpen" (didDismiss)="isDatePopOpen = false" trigger="open-date-input" show-backdrop="false" size="cover">-->
<!--            <ng-template>-->
<!--              <ion-content class="ion-padding">-->
<!--                <ion-datetime [(ngModel)]="date"></ion-datetime>-->
<!--              </ion-content>-->
<!--            </ng-template>-->
<!--          </ion-popover>-->
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="item-div">
          <ion-input type="file" class="ion-text-start" [(ngModel)]="receipt"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label>Monatlich wiederkehrend?</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="interval"></ion-checkbox>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-buttons>
        <ion-button (click)="addExpenseEntry() && reloadCurrentPage()">
          hinzufügen
        </ion-button>
      </ion-buttons>
    </ion-row>
  </ion-list>
</ion-grid>
