p {
  cursor: default;
  font-family: Roboto, sans-serif;
}
div {
  display: flex;
  justify-content: center;
}
input {
  font-size: inherit;
  padding: 5px 12px;
  font-family: Roboto,
  sans-serif;
  font-weight: 300;
  border: 1px #47517B;
  background-color: #ffffff ;
  border-radius: 5px;
  color: #0d0d0d;
}
.text1{
  font-size: small;
  font-family: Roboto, sans-serif;
}

.password{
  margin-top: 10px;
  font-family: Roboto, sans-serif;
}
.logo{
  margin-top: 5%;
}
.text2{
  font-size: small;
  font-family: Roboto, sans-serif;
}
ion-button{
  color: white;
  --background: #47517B;
  --border-radius: 25px;
  width: 300px;
  height: 55px;
}
.center{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.border{
  --border-color: #47517B;
  --border-radius: 15px;
  --border-width: 80%;
  --padding-start: 10%;
  --padding-end: 10%;
  height: 45px;
  width: 300px;
  margin-bottom: 1em;
}
ion-input{
  --placeholder-color: #47517B;

}
.back{
  width: 55px;
  --background: transparentize(100);
}
h1{
  color: #47517B;

}
.left{
  display: flex;
  justify-content: left;
}
