<ion-item style="--background: #00000;" lines="none">
<ion-row>
   <ion-col>
    <ion-button class="back">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
   </ion-col>
</ion-row>
  <div style="margin-right: 0  ; margin-left: auto; text-align: right">
    <ion-button class="back">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button class="back">
      <ion-icon slot="icon-only" name="save-outline"></ion-icon>
    </ion-button>
  </div>
</ion-item>

<div class="center">
  <h1>Dein Profil</h1>
</div>
<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col class="center">
        <ion-item class="border">
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="center">
        <ion-item class="border">
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="center">
        <ion-item class="border">
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="left">
        <p class="text2"><a style="cursor: pointer">Passwort ändern</a></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="left">
        <p class="text2"><a style="cursor: pointer">Profil löschen</a></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="left">
        <p class="text2"><a style="cursor: pointer">Hilfe</a></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="left">
        <p class="text2"><a style="cursor: pointer; color:var(--ion-color-danger)">Ausloggen</a></p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

