  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="!password">
        <ion-icon style="cursor:pointer;" slot="icon-only" name="arrow-back-outline" (click)="navigateGrouplist()"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon style="cursor: pointer" slot="icon-only" name="create-outline" *ngIf="!editMode&&!password" class="back" (click)="changeMode()"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="password" class="back" (click)="changePassword()">
        <ion-icon style="cursor: pointer" slot="icon-only" name="save-outline"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="editMode" class="back" (click)="changeMode(); updateUser()">
        <ion-icon style="cursor: pointer" slot="icon-only" name="save-outline"></ion-icon>
      </ion-buttons>
      <ion-buttons *ngIf="password" slot="start" (click)="password=false; this.altespw=''; this.pw=''; this.pw2='';alertsService.errors.clear(); navigateProfile()">
        <ion-icon style="cursor: pointer" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<div class="center" *ngIf="!password">
  <h1>Dein Profil</h1>
</div>
<div class="center" *ngIf="password">
  <h1>Passwort ändern</h1>
</div>
<ion-content>
  <ion-grid *ngIf="!password">

    <p class="center"
       style="color:var(--ion-color-danger)"
       *ngIf="alertsService.errors.get('googleUser')">
      {{alertsService.errors.get('googleUser')}}
    </p>

    <ion-row>
      <ion-col>
        <ion-item class="border">
          <ion-input #firstName placeholder="Vorname" [readonly]="!editMode" [(ngModel)]="user.firstName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="border">
          <ion-input placeholder="Nachname" [readonly]="!editMode" [(ngModel)]="user.lastName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-item class="border">
           <ion-input placeholder="E-Mail" type="email" [readonly]="!editMode" [(ngModel)]="user.email"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!editMode&&!password">
      <ion-col>
        <ion-button (click)="this.changeMode()">
          <p>Profil Bearbeiten</p>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="editMode&&!password">
      <ion-col>
        <ion-button (click)="this.changeMode(); this.updateUser()">
          <p>Speichern</p>
        </ion-button>
      </ion-col>
    </ion-row>
    <p class="center"
       style="color: #2dd36f"
       *ngIf="alertsService.errors.get('success')">
      {{alertsService.errors.get('success')}}
    </p>
    <div>
      <ion-row style="margin-left: 20px">
        <ion-col class="left">
          <p class="text2"><a style="cursor: pointer; color:#47517B" (click)="password=true">Passwort ändern</a></p>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <ion-row style="margin-left: 20px">
        <ion-col class="left">
          <p class="text2"><a style="cursor: pointer; color:#47517B" (click)="deleteUser()">Profil löschen</a></p>
        </ion-col>
      </ion-row>
    </div>

    <div>
      <ion-row style="margin-left: 20px">
        <ion-col class="left">
          <p class="text2"><a style="cursor: pointer; color:#47517B">Hilfe</a></p>
        </ion-col>
      </ion-row>
    </div>

    <div>
      <ion-row style="margin-left: 20px">
        <ion-col class="left">
          <p class="text2"><a style="cursor: pointer; color:var(--ion-color-danger)" (click)="logout(); user.firstName='';user.lastName='';user.email=''" >Ausloggen <ion-icon name="log-out-outline"></ion-icon></a></p>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>

  <ion-grid *ngIf="password">

    <ion-row>
      <ion-col>
        <ion-item class="border">
          <ion-input type="password" placeholder="altes Passwort" [(ngModel)]="altespw"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="border">
          <ion-input type="password" placeholder="neues Passwort" [(ngModel)]="pw"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col>
        <ion-item class="border">
          <ion-input type="password" placeholder="neues Passwort bestätigen" [(ngModel)]="pw2"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <p class="center"
       style="color:var(--ion-color-danger)"
       *ngIf="alertsService.errors.get('changePW')">
      {{alertsService.errors.get('changePW')}}
    </p>

  </ion-grid>
</ion-content>

