ion-input {
    border: solid 2px;
    padding-left: 100px;
    border-color: rgba(140, 184, 237);
    border-radius: 15px;
    color: #47517B;
}



h1 {
  font-weight: bold;
  color: #47517B;
}

h5 {
  color: #47517B;
  font-weight: bold;
  text-align: center;
}


ion-button {
  background-color: rgba(140, 184, 237);
}
